<h2><%= @error %></h2>
<%if Helpers.logged_in?(session) %>
    <h2>Create A New Recipe</h2>
    <form action='/recipes/new' method=POST>
        Recipe Title:<input type='text' name='recipe[name]'><br>
        Total Baking Time:<input type='text' name='recipe[cook_time]'><br>
        Yield(servings):<input type='text' name='recipe[yield]'><br>

        <h3><label for='directions'>Directions:</label></h3>
        <textarea name='recipe[plain_directions]' rows='25' cols='100' id='directions'>
        Type Your Directions Here. Use Numbers with a '.' after to delineate directions.
        Seperate different parts of your recipe with subheaders wrapped in *'s. Start at 1. again
        after using a subheader.
        Ex:
        1. Preheat oven to 350.
        2. Beat together butter and sugar.
        3. etc.
        *Icing*
        1.Mix powder sugar with soft butter
        2.Stir together until well combined.
        </textarea>

        <h3>Ingredients:</h3>
        <textarea name='recipe[plain_ingredients]' rows='25' cols='100'>
        Type Your Ingredients Here. Use Numbers with a '.' after to seperate ingredients.
        Ex:
        1. 1/2 Stick Butter
        2. 2 Cups Flour
        3. etc.
        </textarea>
        <br>
        <input type='submit' value='Create Recipe'>
    </form>
<%end%>
