<h2><%=@user.name%>'s Recipes </h2>
<% @user.recipes.each do |recipe| %>
    <a href='/recipes/<%=recipe.slug%>'> <%= recipe.name %> </a> - <a href='/recipes/<%=recipe.slug%>/edit'>Edit</a>
    <br>
<%end%>
<br>
<p><a href='/logout'> Log Out </a> </p>