<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type='text/css' href="/css/cookies.css" />
    </head>
    <body>
        <h1 id='welcome'>Welcome To The Holiday Cookie Recipe Website</h1>
        <a href = '/'>Home</a>

    <%= yield %>
    </body>
</html>
